@use '@/styles/main';

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.span,
.p {
  margin: 0;
}

.h1 {
  font-size: main.$font-size-32;
  font-weight: main.$font-weight-semi-bold;
  line-height: main.$line-height-40;
  letter-spacing: -1px;
  color: var(--primary-black);
}

.h2 {
  font-size: main.$font-size-18;
  line-height: main.$line-height-28;
  font-weight: main.$font-weight-semi-bold;
  color: var(--primary-black);
}

.span {
  font-size: main.$font-size-14;
  font-weight: main.$font-weight-regular;
  color: var(--primary-grey);
}

.p {
  color: var(--primary-black);
}
