@use '@/styles/main';

.icon {
  background-color: var(--primary-purple-dark);
  font-size: main.$font-size-18;
  padding: main.$space-10;
  border-radius: main.$space-96;
  width: 2.75rem;
  height: 2.75rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: main.$space-16;

  @include main.breakpoint('large') {
    flex-direction: row;
  }
}

.card_left_side {
  width: 100%;
}

.card_details {
  & > div {
    display: flex;
    align-items: center;
    gap: main.$space-12;
    margin: main.$space-32 0 main.$space-4;
  }

  & > h3 {
    font-size: main.$font-size-48;
    font-weight: main.$font-weight-semi-bold;
    color: var(--primary-black);
    margin-top: main.$space-4;
  }
}

.chart_container {
  height: 12.5rem;
  overflow-y: hidden;
  background-color: var(--primary-purple-light);
  border-radius: main.$space-20;
  min-width: 23.625rem;
}

.chart {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 19.375rem;
  width: 100%;
}

