.container {
  height: 200px;
  overflow-y: hidden;
  background-color: #f0edff;
  border-radius: 20px;
  min-width: 378px;
}

.chart {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 310px;
  width: 100%;
}
