@use '@/styles/main';

.edit_button {
  background-color: var(--primary-purple-light);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-green);
  font-size: main.$font-size-28;
  padding: main.$space-10;
  border-radius: main.$space-96;
  width: main.$space-64;
  height: main.$space-64;
}

.content {
  margin-top: main.$space-28;
  
  & > h3 {
    font-size: main.$font-size-24;
    line-height: main.$line-height-32;
    font-weight: main.$font-weight-semi-bold;
    margin-top: main.$space-12;
    color: var(--primary-black);
  }

  & > p {
    font-size: main.$font-size-14;
    font-weight: main.$font-weight-regular;
    color: var(--primary-grey);
  }
}
