// Colors scheme
$light-theme: (
  background: #fff,
  primary-black: #18161a,
  primary-dark: #000000,
  primary-grey: #6f7285,
  primary-grey-light: #f9f9f9,
  primary-purple-light: #f0edff,
  primary-purple-dark: #6c4eff,
  primary-black-light: #1616400a,
  primary-green: #e7ff6e,
  secondary-grey: #ecf1f2,
  secondary-dark: #24244f,
  shade-black-berry: #16164029,
  shade-green-light: #467e5214,
  shade-black-berry-light: #1616408f,
  shade-green: #467e52,
);

$dark-theme: (
  background: #000,
  primary-black: #e7e9e5,
  primary-dark: #ffffff,
  primary-grey: #9090a0,
  primary-grey-light: #484848,
  primary-purple-light: #0f12ff,
  primary-purple-dark: #93b100,
  primary-black-light: #9f9f9ff5,
  primary-green: #1800ff,
  secondary-grey: #ecf1f2,
  secondary-dark: #dbdbb0,
  shade-black-berry: #e9e9b0d6,
  shade-green-light: #b98181f1,
  shade-black-berry-light: #e9e9b070,
  shade-green: #f10c17,
);

@mixin theme($theme) {
  --background: #{map-get($theme, background)};
  --transparent: rgba(0, 0, 0, 0);
  --overlay: rgba(0, 0, 0, 0.5);
  --primary-dark: #{map-get($theme, primary-dark)};
  --primary-grey: #{map-get($theme, primary-grey)};
  --primary-black-light: #{map-get($theme, primary-black-light)};
  --primary-purple-light: #{map-get($theme, primary-purple-light)};
  --primary-purple-dark: #{map-get($theme, primary-purple-dark)};
  --secondary-grey: #{map-get($theme, secondary-grey)};
  --secondary-dark: #{map-get($theme, secondary-dark)};
  --primary-grey-light: #{map-get($theme, primary-grey-light)};
  --shade-black-berry: #{map-get($theme, shade-black-berry)};
  --primary-black: #{map-get($theme, primary-black)};
  --shade-green-light: #{map-get($theme, shade-green-light)};
  --shade-green: #{map-get($theme, shade-green)};
  --shade-black-berry-light: #{map-get($theme, shade-black-berry-light)};
  --primary-green: #{map-get($theme, primary-green)};
}
