@use '@/styles/main';

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    'Header Header'
    'Body Body';
  height: 100dvh;

  & > header {
    grid-area: Header;
  }

  & > main {
    display: flex;
    grid-area: Body;
  }

  @include main.breakpoint('medium') {
    grid-template-columns: 15rem 1fr;
    grid-template-areas:
      'Header Header'
      'Aside Body';

    & > aside:nth-child(4) {
      grid-area: Aside;
    }
  }
}
