@use '@/styles/main';

.navigation_control {
  display: flex;
  align-items: center;
  gap: main.$space-4;

  & > button {
    color: var(--primary-black);
  }
}

.navigation_control_button {
  padding: main.$space-6 main.$space-12;
  margin: 0;
  background-color: var(--transparent);
  border: none;
  color: var(--primary-black);
  font-size: main.$font-size-12;
  font-weight: main.$font-weight-semi-bold;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  gap: main.$space-16;
  overflow: hidden;
}
