@use '@/styles/main';

.section {
  display: flex;
  flex-direction: column;
  gap: main.$space-16;
  height: 100%;
  width: 100%;

  & > h1 {
    margin-top: main.$space-16;
    text-align: center;
  }

  @include main.breakpoint('medium') {
    max-width: 50.625rem;

    & > h1 {
      text-align: left;
    }
  }
}
