@use '@/styles/main';

.section {
  padding: main.$space-16 0;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  display: grid;
  gap: main.$space-16;
  grid-template-columns: 1fr;
  grid-template-rows: main.$space-48 repeat(5, auto);
  grid-template-areas:
    'Title'
    'Overview'
    'Learning'
    'Equity'
    'Motivational'
    'Vesting';

  & > h1 {
    display: flex;
    align-items: center;
    height: main.$space-48;
    justify-content: center;
    grid-area: Title;
  }

  & > div:nth-child(2) {
    grid-area: Overview;
  }

  & > div:nth-child(3) {
    grid-area: Learning;
  }

  & > div:nth-child(4) {
    grid-area: Equity;
  }

  & > div:nth-child(5) {
    grid-area: Motivational;
  }

  & > div:nth-child(6) {
    grid-area: Vesting;
  }

  @include main.breakpoint('large') {
    max-height: 49.375rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: main.$space-48 repeat(3, auto);
    grid-template-areas:
      'Title Title Title'
      'Overview Overview Vesting'
      'Learning Learning Vesting'
      'Equity Motivational Vesting';

    & > h1 {
      justify-content: flex-start;
    }
  }
}
